:root {
    --white: #FFFFFF;
    --black: #000000;
    --gray: #666666;
    --green: #79bb49;
    --disable: rgba(198, 198, 198, 0.717);
    --text-color: #33333A;
    --text-varian: #455A64;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --xs: 12px;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xlg: 24px;
    --line-height-xlg: 40px;
    --line-height-lg: 30px;
    --line-height-md: 24px;
    --m-8: 8px;
    --m-16: 16px;
    --p-16: 16px;
    --p-8: 8px;
}