.star-rating {
    display: flex;
    justify-content: center;
    button {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .on {
        color: #D61043;
    }
    .off {
        color: #ccc;
    }
    .star {
        font-size: var(--lg);
    }
    .text-rating {
        font-size: var(--md);
        font-weight: normal;
        line-height: var(--line-height-lg);
        color: var(--grey);
    }
    @include respond-to(desktop) {
        justify-content: left;
    }
}